.mobileDisplayContainer {
    padding: 20px;
}

.MobileContainer {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
}

@media (max-width: 768px) {
    .MobileContainer {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    .mobileDisplayContainer {
        padding: 15px;
    }

    .ButtonBox {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .mobileDisplayContainer {
        padding: 10px;
    }

    .MobileContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        padding: 2px;
    }
}

.MobileCard {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 200px;
    background-color: white;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(75, 75, 75, 0.173);
    animation: all 2s ease-in;
    cursor: pointer;
}

.MobileCard:hover {
    box-shadow: 3px 3px 10px 5px rgba(75, 75, 75, 0.433);
}

.box2div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
}

.MobileCardButton1 {
    border: none;
    background-color: skyblue;
    box-shadow: 0px 0px 10px 1px rgba(75, 75, 75, 0.173);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 14px;
    width: 100%;
}

.MobileCardButton2 {
    border: none;
    background-color: orange;
    box-shadow: 0px 0px 10px 1px rgba(75, 75, 75, 0.173);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 8px;
    width: 100%;
}

.MobileCardp1 {
    float: left;
    padding-top: 10px;
    font-size: 14px;
    color: gray;
}

.MobileCardp2 {
    float: left;
    padding: 0px 0px 10px 0px;
    font-size: 12px;
    color: red;
}

.ButtonBox {
    display: flex;
    gap: 5px;
    width: 100%;
}

@media (max-width: 768px) {
    .ButtonBox {
        flex-direction: column;
    }
}

.errorRequest {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.MobileImg {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 10px;
}